html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}


body {
	background-color: #212529;
}

/* Container*/
.container-fluid {
	margin-top: 20px;
	max-width: 80%;
}

.red {
	background: rgba(56, 6, 8, .95);
}

.norm {
	background: rgb(230, 230, 230);
}


/* Intro Nav*/
.introMessage {
	margin: auto;
	text-align: center;
}

/* Menu Tabs*/
.tab-content {
	margin-top: 1%;
}

/* Icons */
.fa-facebook-square {
 color: #3b5998
}

.fa-yelp{
	color: #d32323;
}
