// === CONTENT ===
$content-width: 992px;


$primary-color: #8f2b26;
$secondary-color: #f9f9f9;
// $tertiary-color: #1eb3ba;

$facebook-color: #3b5998;
$yelp-color: #d32323;

body {
	background-color: $primary-color;
}



/* Container*/
.container-fluid {
	// margin-top: 20px;
	width: $content-width;
  @media only screen and (max-width: 992px) {
    width: auto;
    max-width: $content-width;
  }
}

a {
	color: $secondary-color;
}

a:hover {
	color: #2b268f;
}

// .red {
// 	background: rgba(56, 6, 8, .95);
// }

// .norm {
// 	background: rgb(230, 230, 230);
// }


/* Intro Nav*/
.introMessage {
	margin: auto;
	text-align: center;
}

/* Menu Tabs*/
.tab-content {
	margin-top: 1%;
}

/* Icons */
.fa-facebook-square {
 color: $facebook-color;
}

.fa-yelp{
	color: $yelp-color;
}


.footer {
	color: white;
}
