@import "partials/mixins";

// === CONTENT ===
$content-width: 992px;


$primary-color: #8f2b26;
$secondary-color: #f9f9f9;

$facebook-color: #3b5998;
$yelp-color: #d32323;



/* Container*/
.container-fluid {
	// margin-top: 20px;
	width: $content-width;
  @media only screen and (max-width: 992px) {
    width: auto;
    max-width: $content-width;
  }
}

body {
	margin-top: 20px;
	background-color: $primary-color;
}

.main {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  text-align: center;
}

.main h4 {
	@include small-screens {
		font-size: 18px;
	}
	@include extra-small-screens {
		font-size: 14px;
	}
}

.white {
	background-color: #ffffff;
	padding-bottom: 10px;
	padding-top: 10px;
}

.iconImg {
  max-width: 60%;
  margin-bottom: 10px;
}

.menuTitle {
	text-align: center;
	margin-bottom: 15px;
	margin-top: -16px;
}

.menu h4 {
	@include extra-small-screens {
		font-size: 1.25rem;
	}
}

.menu h5 {
	@include extra-small-screens {
		font-size: 1rem;
	}
}

.menu p {
	@include extra-small-screens {
		font-size: .75rem;
	}
}


/* Icons */
.fa-facebook-square {
 color: $facebook-color;
 font-size: 24px;
 @include small-screens {
		font-size: 16px;
	}
}

.fa-yelp{
	color: $yelp-color;
	font-size: 24px;
	@include small-screens {
		font-size: 16px;
	}
}


// Back to top button
.navbar-fixed-top + .content-container {
	margin-top: 70px;
}
.content-container {
	margin: 0 130px;
}



#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    left: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    left: 10px; /* padding from the left side of the window */
}
